
.vertical-layout{
  display: inline-flex;
  flex-direction: column;
}

.horizontal-layout{
  display: inline-flex;
  flex-direction: row;
}


.logwindow{
  border-style: solid;
  background: rgb(202, 198, 198);
}

.logtext{
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  overflow-x: scroll;
  text-align: left;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  line-height: normal;
}
