
.contracts-main {
  display: inline-flex;
  flex-direction: row;
}

.contracts-container {
    display: inline-flex;
    flex-direction: column;
  }

.contracts-api {
  display: inline-flex;
  flex-direction: column;
}

.contracts-args {
  display: inline-flex;
  flex-direction: column;
}

.contracts-options {
  display: inline-flex;
  flex-direction: row;
}

.contracts-ctor {
  display: inline-flex;
  flex-direction: row;
}

.contracts-ctorargs {
  display: inline-flex;
  flex-direction: row;
}



.api-elem {
  display: inline-flex;
  flex-direction: row;
}

.contracts{
}