
.vertical-layout{
  display: inline-flex;
  flex-direction: column;
}

.horizontal-layout{
  display: inline-flex;
  flex-direction: row;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.logwindow{
  border-style: solid;
  background: rgb(202, 198, 198);
}

.logtext{
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  overflow-x: scroll;
  text-align: left;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  line-height: normal;
}
